<launch>
  <!-- launch the robot base -->
  <include file="$(find rl_robot)/launch/include/create_2.launch" />

  <!-- run the lidar -->
  <include file="$(find rl_robot)/launch/include/rplidar.launch" />
  <node pkg="tf" type="static_transform_publisher" name="laser_link_transform" args="-0.08 0.0  0.15  3.1416  0.0  0.0 /base_link /laser 30"/>

  <!-- run the um7 imu -->
  <include file="$(find rl_robot)/launch/include/gyro_launch.launch" />
  <node pkg="tf" type="static_transform_publisher" name="imu_link_transform" args="0.0 0.0  0.0  0.0  0.0  0.0 /base_link /imu_link 30"/>

  <!-- launch the depth camera -->
  <include file="$(find openni2_launch)/launch/openni2.launch" />
  <node pkg="tf" type="static_transform_publisher" name="camera_link_transform" args="0.1 0 0.17 0 -0.057 0 /base_link /camera_link 30"/>

  <!-- launch a scan from depth_image -->
  <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" > 
    <remap from="image" to="/camera/depth/image_raw"/>
  </node>

  <!-- run the robot ekf for filtered odometry -->
  <include file="$(find rl_robot)/launch/include/rl_robot_ekf.launch" />
</launch>
